extends ../layouts/main-layout.pug
block title 
    title About
block content 
    .about
        .container
            .row
                .col-md-6
                    .titlepage.text_align_left
                        span 01
                        h2 About Us
                        p Melih Koç

                .col-md-6
                    .about_img
                        figure
                            img(src="images/about_img.png", alt="#")


